<a href="https://colab.research.google.com/github/NuzhatProgga/CSE_310/blob/master/NewFile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
student_list = [
                {"Id": 1,
                 "First Name": "Peter",
                 "Last Name": "Lee",
                 "Email": "plee@university.edy",
                 "Year of Birth": "1992",
                 },
                
                {"Id": 2,
                 "First Name": "Jonathan",
                 "Last Name": "Edwards",
                 "Email": "jedwards@university.edy",
                 "Year of birth": "1994",
                 },
                
                {"Id": 3,
                 "First Name": "Marilyn",
                 "Last Name": "Jognson",
                 "Email": "mjohnson@university.edy",
                 "Year of birth": "1993",
                 },
                
                {"Id": 6,
                 "First Name": "Joe",
                 "Last Name": "Kim",
                 "Email": "jkim@university.edy",
                 "Year of birth": "1992",
                 }
]

id = int(input("ID : "))

for i in student_list:
  if i["Id"] == id:
    print(i)
    break

ID : 2
{'Id': 2, 'First Name': 'Jonathan', 'Last Name': 'Edwards', 'Email': 'jedwards@university.edy', 'Year of birth': '1994'}

In [5]:
my_list = [1, 2, 3, 4, 5, 6]
my_list

[1, 2, 3, 4, 5, 6]